/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";

.pageLayer{
	width: 1300px;
	height: 600px;
	margin: 0 auto;
	background: transparent;
	position: relative;
	top: 0px;
	text-align: center;
	color: black;
	font-family: Arial, sans-serif;
	//font-size: 1.6em;
}

.mainSection{
	width: 100%;
	height: 600px;
	background: transparent;
	position: relative;
}
.leftColumn{
	width: 1000px;
	background: blue;
	height: 600px;
	padding-bottom: 100px;
	overflow-y: scroll;
	box-sizing: border-box;
}
.rightColumn{
	width: 300px;
	background: green;
	height: 600px;
	position: absolute;
	top: 0px;
	right: 0px;
}
.rows{
	margin: 10px auto;
}
.rows > div{
	width: 20%;
	height: auto;
	display: inline-block;
}
input{
	text-align: center;
	border-radius: 7px;
	border: 0px;
	padding: 3px 0;
}
// .rows:nth-child(1):before{
// 	content: "1";
// }
// .rows:nth-child(2):before{
// 	content: "2";
// }
// .rows:nth-child(3):before{
// 	content: "3";
// }
// .rows:nth-child(4):before{
// 	content: "4";
// }
// .rows:nth-child(5):before{
// 	content: "5";
// }
// .rows:nth-child(6):before{
// 	content: "6";
// }
// .rows:nth-child(7):before{
// 	content: "7";
// }
// .rows:nth-child(8):before{
// 	content: "8";
// }
// .rows:nth-child(9):before{
// 	content: "9";
// }
label.invisibl{
	display: none;
}
div.invisibl{
	display: none;
}
.rows .selectType{
	display: block;
	width: 100%;
	legend{
		margin: 0 auto;
	}
}
.resultSection{
	width: 100%;
	height: auto;
	background: transparent;
	padding-top: 75px;
}
.result_table td{
	border: 1px solid black;
	text-align: center;
	width: 5%;
}
.result_table{
	width: 100%;
}
.table td{
	text-align: center;
}
.draw_chart{
	display: none;
}
.rightColumn{
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-around;
	background: rgba(0, 0, 0, 0.5);
}
button{
	display: inline-block;
	width: 80%;
	box-sizing: border-box;
	border: 0px;
	border-radius: 10px;
	height: 50px;
	opacity: 0.6;
	background: #3367d6;
	transition: all .5s ease;
}
button:hover{
	opacity: 1;
}
// #draw_area{
// 	width: 100%;
// 	height: 500px;
// }
.display_circiut_container{
	width: 100%;
	height: 700px;
	overflow: scroll;
	border: 2px solid black;
}